{% extends 'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <h2 class="user-heading">List of Registered Users</h2>
    <table class="user-list">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="back-link" href="/">← Back to Home</a>
{% endblock %}
